
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    font: 1.6rem;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 4rem;
    height: 100vh;
}

/* header part */

.header{
    grid-area: header;
    width: 100%;
    background-color:  rgb(30, 85, 78);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding-left: 2rem;

}

.burger{
    border: .1rem rgb(255, 255, 255) solid;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


.brand{
    width: 50%;
}

.brand a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    padding-left: 3rem;
}

.brand a:hover{
    color: #ff8000
}

.costumer-service{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.costumer-service a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding-right: 3rem;
}
.costumer-service a:hover{
    color: #ff8000
}


/*main part */


.main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
}

.navLinks {
    height: 100%;
    width: 16%;
    background-color: rgb(30, 85, 78);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
}

.nav-active{
    transform: translateX(0%);
}

.navLinks li{
    padding: 4rem; 
    opacity: 0;
}

.navLinks a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}
.navLinks a:hover{
    font-size: 2.5rem;
    text-decoration: none;
    color: #ff8000;
}

@keyframes navLinkFade {
    from {opacity: 0;
          transform: translateX(-50px);      
        }
    to {opacity: 1;
        transform: translateX(0px);      
      }
  }

  .toggle .line1{
      transform: rotate(-45deg) translate(-5px,5px);
      
  }
  .toggle .line2{
    opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-5px);
    
    }


/* footer part */

.footer{
    grid-area: footer;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(30, 85, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}